node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
tech.txt
gjøremål.txt
optimaliseringsHuskeliste.txt
app/env/*
coverage/lcov-report/SheepTracker/app/env/*
app/assets*
# macOS
.DS_Store
coverage/\*\*/*
