node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
tech.txt
gjøremål.txt
optimaliseringsHuskeliste.txt
app/env/*
HTML_representation/*
!HTML_representation/lcov-report
HTML_representation/lcov-report/*
!HTML_representation/lcov-report/SheepTracker
HTML_representation/lcov-report/SheepTracker/*
!HTML_representation/lcov-report/SheepTracker/App/
HTML_representation/lcov-report/SheepTracker/App/env/*
!HTML_representation/lcov-report/SheepTracker/App.js.html
!HTML_representation/lcov-report/SheepTracker/index.html
app/assets*
# macOS
.DS_Store
coverage/\*\*/*
